<!--Content-->
<div class="main">
    <div class="container">
        <ul class="category">
            <li class="col-sm-4">
                <div class="card small col s4 hoverable card-hover">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../images/men.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">MEN'S SHOES<i class="material-icons right">more_vert</i></span>
                        <a class="btn waves-effect" href="" ng-click="addFilters('Sneakers', null, 'Male')">Shop Now!</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">MEN'S SHOES<i class="material-icons right">close</i></span>
                        <p>Sneakers for men. Prices and quanlities are fascinating!</p>
                        <a class="btn waves-effect" href="" ng-click="addFilters('Sneakers', null, 'Male')">Shop Now!</a>
                    </div>
                </div>
            </li>
            <li class="col-sm-4">
                <div class="card small col s4 hoverable card-hover">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../images/women.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">WOMEN'S SHOES<i class="material-icons right">more_vert</i></span>
                        <a class="btn waves-effect" href="" ng-click="addFilters('Sneakers', null, 'Female')">Shop Now!</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">WOMEN'S SHOES<i class="material-icons right">close</i></span>
                        <p>Sneakers for women. Prices and quanlities are fascinating!</p>
                        <a class="btn waves-effect" href="" ng-click="addFilters('Sneakers', null, 'Female')">Shop Now!</a>
                    </div>
                </div>
            </li>
            <li class="col-sm-4">
                <div class="card small col s4 hoverable card-hover">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../images/a001.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">ACCESSORIES<i class="material-icons right">more_vert</i></span>
                        <a class="btn waves-effect" href="" ng-click="addFilters('Accessories', null, null)">Shop Now!</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">ACCESSORIES<i class="material-icons right">close</i></span>
                        <p>Accessories. Prices and quanlities are fascinating!</p>
                        <a class="btn waves-effect" href="" ng-click="addFilters('Accessories', null, null)">Shop Now!</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--Middle content-->
<div class="Mid-content">
    <div class="container">
        <h2>Welcome</h2>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form, by injected humour, or randomised words which don't look even slightly believable. If you are
            going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
            middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
            making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined
            with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated
            Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
    </div>
</div>

<!--ContentMidBottom-->
<div class="Bot-Mid-content">
    <h3>8 best sneakers of 2016</h3>
    <ul class="Album">
        <li>
            <a href="">
                <div>
                    <img class="img-responsive" src="../images/best-sneakers1.jpg" />
                    <div class="Overlay">
                    </div>
                    <h4>Air Jordan IV “Cement”</h4>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div>
                    <img class="img-responsive" src="../images/best-sneakers2.jpg" />
                    <div class="Overlay">
                    </div>
                    <h4>Nike MAG</h4>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div>
                    <img class="img-responsive" src="../images/best-sneakers3.jpg" />
                    <div class="Overlay">
                    </div>
                    <h4>Adidas YEEZY 750 “Grey/Gum”</h4>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div>
                    <img class="img-responsive" src="../images/best-sneakers4.jpg" />
                    <div class="Overlay">
                    </div>
                    <h4>Adidas YEEZY 350 V2</h4>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div>
                    <img class="img-responsive" src="../images/best-sneakers5.jpg" />
                    <div class="Overlay">
                    </div>
                    <h4>Nike HyperAdapt 1.0</h4>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div>
                    <img class="img-responsive" src="../images/best-sneakers6.jpg" />
                    <div class="Overlay">
                    </div>
                    <h4>WM x Adidas SEEULATER</h4>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div>
                    <img class="img-responsive" src="../images/best-sneakers7.jpg" />
                    <div class="Overlay">
                    </div>
                    <h4>Nike Special Field Air Force 1</h4>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div>
                    <img class="img-responsive" src="../images/best-sneakers8.jpg" />
                    <div class="Overlay">
                    </div>
                    <h4>ACRONYM x NikeLab Air Presto Mid</h4>
                </div>
            </a>
        </li>
    </ul>
</div>